<p id="notice"><%= notice %></p>

<div class="still">
  <%= image_tag(@movie.still_path, width: 800, height: 450) %>
</div>
<p>
  <strong>Movie:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Release Date:</strong> <%= @movie.release_date %>
</p>

<p>
  <strong>Composite Score:</strong>
  <%= @movie.composite_score %>/10
</p>

<p>
  <strong>Director:</strong> <%= @movie.director %>
</p>

<p>
  <strong>Synopsis:</strong>
  <%= @movie.synopsis %>
</p>

<%= link_to "Review this film", new_review_path(:movie => @movie.id)%>

<div class="keypoint-sort-tabs">
  <ul>
    <a href="/movies/<%=@movie.id%>/sort/acting"><li><i class="crit-icon glyphicon glyphicon-user"></i></li></a>
    <a href="/movies/<%=@movie.id%>/sort/cinema"><li><i class="crit-icon glyphicon glyphicon-film"></i></li></a>
    <a href="/movies/<%=@movie.id%>/sort/score"><li><i class="crit-icon glyphicon glyphicon-music"></i></li></a>
    <a href="/movies/<%=@movie.id%>/sort/writing"><li><i class="crit-icon glyphicon glyphicon-pencil"></i></li></a>
    <a href="/movies/<%=@movie.id%>/sort/sfx"><li><i class="crit-icon glyphicon glyphicon-fire"></i></li></a>
  </ul>
</div>

<div class="reviews-container">
  <%= render @reviews %>
</div>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
