<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>Welcome to Odeon, a website for film reviews.</p>

  <p>In ancient Greece, the <i>odeon</i> was a small theater for musical performances; today, the odeon is a chain of movie theaters. This website sits at the intersection of these two concepts, and hopes to join bronze age ideals -- well-argued rhetoric and an engaged public -- with the topics of the silver screen.</p>

  <p>The goal is to open up a space for impassioned discussion and debate without descending into a typical internet flame wars. To make that happen, we ask users to judge reviews by their rhetorical quality and effort, not by whether they align with your particular likes and dislikes.</p>

  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </div>
  <div class="field">
    <%= f.label :email %><br>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </div>
  <br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
