<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Trusted:</strong>
  <%= @user.trusted %>
</p>

<p>
  <strong>Current Score:</strong>
  <%= @user.score %>
</p>

<p>
  <h3>Your Reviews:</h3>
  <% @reviews = @user.reviews %>
  <%= render @reviews %>
</p>

<p>
<h3>Reviews You're Following:</h3>
  <% @reviews = @user.votes.map(&:review) %> 
  <%= render @reviews %>
</p>