<p id="notice"><%= notice %></p>

<h1>Listing Critiques</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Review</th>
      <th>Keypoint</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @critiques.each do |critique| %>
      <tr>
        <td><%= critique.critiquer %></td>
        <td><%= critique.review %></td>
        <td><%= critique.keypoint %></td>
        <td><%= critique.title %></td>
        <td><%= critique.body %></td>
        <td><%= link_to 'Show', critique %></td>
        <td><%= link_to 'Edit', edit_critique_path(critique) %></td>
        <td><%= link_to 'Destroy', critique, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Critique', new_critique_path %>
