<div class="still center featured">
  <div class="featured-image">
    <a href="/reviews/<%=@movies[0].reviews[0].id%>"><%= image_tag(@movies[0].still_path, width: "100%") %></a>
    <h1><%=@movies[0].title.upcase%></h1>
  </div>
  <div class="featured-text padding-top-2">
    <p class="featured-thesis">
      <i><%= @movies[0].reviews[0].thesis %></i>
    </p>
    <p class="landing-review padding-top-2">
      <%= truncate(@movies[0].reviews[0].body, length: 400) %>
    </p>
  </div>
</div>
<hr />
<h1><center><strong>FEATURED FILMS</strong></center></h1>
<hr />
<div class="container padding-bot-4">
  <div class="row">
      <div class="col-xs-4 small-movie-feature">
          <div class="div-top">
            <a href="/movies/<%=@movies[1].id%>"><%= image_tag(@movies[1].still_path, width: 300) %></a>
          </div>
          <div class="div-bot">
            <p><strong><%=@movies[1].title%></strong></p>
            <p><strong><i><%=@movies[1].reviews[0].thesis%></i></strong></p>
            <p class="max-lines"><%=@movies[1].reviews[0].body%></p>
          </div>
      </div>
      <div class="col-xs-4 small-movie-feature">
        <div class="div-top">
          <a href="/movies/<%=@movies[2].id%>"><%= image_tag(@movies[2].still_path, width: 300) %></a>
        </div>
        <div class="div-bot">
          <p><strong><%=@movies[2].title%></strong></p>
          <p><strong><i><%=@movies[2].reviews[0].thesis%></i></strong></p>
          <p class="max-lines"><%=@movies[2].reviews[0].body%></p>
        </div>
      </div>
      <div class="col-xs-4 small-movie-feature">
        <div class="div-top">
          <a href="/movies/<%=@movies[3].id%>"><%= image_tag(@movies[3].still_path, width: 300) %></a>
        </div>
        <div class="div-bot">
          <p><strong><%=@movies[3].title%></strong></p>
          <p><strong><i><%=@movies[3].reviews[0].thesis%></i></strong></p>
          <p class="max-lines"><%=@movies[3].reviews[0].body%></p>
        </div>
      </div>
  </div>
</div>
