<p id="notice"><%= notice %></p>
<div class="review-container">
  <div class="still">
    <img width='800' height='450' src="<%= @review.movie.still_path %>">
  </div>
  <p>
    <h2><%= @review.movie.title %></h2>
  </p>

  <p>
    <div class="icon-stack-review">
      <i class="glyphicon glyphicon-star big-star"></i>
      <span class="review-rating"><%= @review.rating %></span>
    </div>
  </p>

  <p>
    <h3><%= @review.title %></h3>

  </p>

  <p>
    <h4>By: <%= @review.reviewer.username %></h4>
  </p>



  <p>
    <strong><%= @review.thesis %></strong>

  </p>


  <div class='review-body'>
    <p><%= @review.body %></p>
  </div>

  <p>
    <h4>Rate this review!</h4>
  </p>

  <div id="critiques-container">
    <ul id="critique-list">
    <% @review.critiques.each do |crit| %>
      <li id="<%=crit.id%>" ><%=crit.title%><br>
        <%=crit.body%><br>
        by <%=crit.critiquer.username%>
        <a id="show_replies" href="<%=crit.id%>">show replies</a>
          <ul id="replies-list">
            <%crit.replies.each do |reply| %>
              <li><%=reply.body%><br>
                by <%=reply.replier.username%>
              </li>
            <% end %>
            <% if session[:user_id] %>
              <% @critique = Critique.find(crit.id)%>
              <% @reply = Reply.new() %>
              <%= render 'replies/form' %>
            <% end %>
          </ul>
      </li>
    <% end %>
    </ul>
  </div>
  <% if session[:user_id] %>
    <div id="critique-form">
      <% @critique = Critique.new() %>
      <%= render 'critiques/form' %>
    </div>
  <% end %>

  <%= link_to 'Edit', edit_review_path(@review) %> |
  <%= link_to 'Back', reviews_path %>

</div>
