<p id="notice"><%= notice %></p>

<div class="still">
  <img width='800' height='450' src="<%= @review.movie.still_path %>">
</div>
<p>
  <strong>Movie:</strong>
  <%= @review.movie.title %>
</p>

<p>
  <strong>Stars:</strong>
  <%= @review.rating %>/10
</p>

<p>
  <strong>By:</strong> <%= @review.reviewer.username %>
</p>



<p>
  <strong>Thesis:</strong>
  <%= @review.thesis %>
</p>

<p>
  <strong>Title:</strong>
  <%= @review.title %>
</p>

<p>
  <%= @review.body %>
</p>

<div id="critiques-container">
  <%= (react_component 'CritiqueBox', { data: @review.critiques.to_json, review_num: @review.id}) %>
</div>

<div id="critique-form">
  <% @critique = Critique.new() %>
  <%= render 'critiques/form' %>
</div>

<%= link_to 'Edit', edit_review_path(@review) %> |
<%= link_to 'Back', reviews_path %>
