<p id="notice"><%= notice %></p>
<div class="review-container">
  <div class="still">
    <%= image_tag(@review.movie.still_path, width: 800, height: 450) %>
  </div>
  <p>
    <h2><%=link_to "#{@review.movie.title}", movie_path(@review.movie) %></h2>
  </p>

  <p>
    <div class="icon-stack-review">
      <i class="glyphicon glyphicon-star big-star"></i>
      <span class="review-rating"><%= @review.rating %></span>
    </div>
  </p>

  <p>
    <h3><%= @review.title %></h3>

  </p>

  <p>
    <h4>By: <%= @review.reviewer.username %></h4>
  </p>



  <p>
    <strong><%= @review.thesis %></strong>

  </p>


  <div class='review-body'>
    <p><%= @review.body %></p>
  </div>

  <p>
    <% if session[:user_id] %>
      <h4>Submit feedback on this review!</h4>
      <% p @review %>
      <% @vote = @review.votes.new %>
      <%= render 'votes/form' %>
    <% else %>
      <%= link_to 'Log in to submit feedback', new_session_path%>
    <% end %>
  </p>

  <div id="critiques-container">
    <ul id="critique-list">
    <% @review.critiques.each do |crit| %>
      <li id="<%=crit.id%>" >
        <!--need to do this correctly-->
        <% @crit = crit %>
        <%= render 'critiques/show_keypoint'%>
        <strong class="crit-title"><%=crit.title%></strong><br>
        <%=crit.body%><br>

        by <em><%=crit.critiquer.username%></em>

        <a id="show_replies" href="<%=crit.id%>">show replies</a>

          <ul id="replies-list">
            <%crit.replies.each do |reply| %>
              <li><%=reply.body%><br>
                by <%=reply.replier.username%>
              </li>
            <% end %>
            <% if session[:user_id] %>
              <% @critique = Critique.find(crit.id)%>
              <% @reply = Reply.new() %>
              <%= render 'replies/form' %>
            <% end %>
          </ul>

      </li>
    <% end %>
    </ul>
  </div>
  <% if session[:user_id] %>
    <div id="critique-form">
      <% @critique = Critique.new() %>
      <%= render 'critiques/form' %>
    </div>
  <% else %>
    <%= link_to 'Log in to critique', new_session_path%>
  <% end %>

</div>
