<% p @review %>
<% p @vote %>
<%= form_for([@vote.review,@vote]) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => session[:user_id]%>
  </div>
  <div class="field">
    <%= f.hidden_field :review_id %>
  </div>

  <%= f.radio_button(:sentiment, "0") %>
  <%= f.label(:sentiment_poor, "Poor") %>
  <%= f.radio_button(:sentiment, "1") %>
  <%= f.label(:sentiment_fair, "Fair") %>
  <%= f.radio_button(:sentiment, "2") %>
  <%= f.label(:sentiment_good, "Good") %>
  <%= f.radio_button(:sentiment, "3") %>
  <%= f.label(:sentiment_great, "Amazing") %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
