<%= form_for([@review,@vote], url: {action: "create"}) do |f| %>
  <% if @vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% @vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.hidden_field :user_id, :value => session[:user_id]%>
  </div>
  <div class="field">
    <%= f.hidden_field :review_id, :value => @review.id%>
  </div>

  <%= radio_button_tag(:sentiment, "0") %>
  <%= label_tag(:sentiment_poor, "Poor") %>
  <%= radio_button_tag(:sentiment, "1") %>
  <%= label_tag(:sentiment_fair, "Fair") %>
  <%= radio_button_tag(:sentiment, "2") %>
  <%= label_tag(:sentiment_good, "Good") %>
  <%= radio_button_tag(:sentiment, "3") %>
  <%= label_tag(:sentiment_great, "Amazing") %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
