<!DOCTYPE html>
<html>
<head>
  <title>Odeon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="custom-nav center">
    <ul id="menu">
      <li><a href="/">home</a></li>
      <% if session[:user_id] %>
        <li>
          <%= link_to "Log out", { controller: :sessions, action: :destroy, id: session[:user_id] }, method: :delete %>
        </li>
        <li>
          <%= link_to "Profile", user_path(current_user) %>
      </li>
      <%else%>
        <li>
          <%= link_to "Log in", new_session_path %>
        </li>
        <li>
          <%= link_to "Register", new_user_path %>
        </li>
      <%end%>
      <li><a href=""</li>
      <li>Genres
        <ul id="sub1">
            <% Genre.all.each do |genre| %>
              <li><a href="/genres/<%=genre.id%>"><%=genre.name%></a></li>
            <%end%>
        </ul>
      </li>
  </ul>
  </div>
  <div id="main-container" class="container">
    <%= yield %>
  </div>

</body>
</html>
